@* This is the root components, that can host child component ?? *@
<!DOCTYPE html>
<html lang="en">

@* Head holds meta data for example about which css files are used*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ServerManagement.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

@* Body holds actual content of the html document *@
@* Using a Routes component to find additional components *@
@* So it find this components and place it inside the root component *@
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
